<% if !current_user.nil? %>
  <table>
    <tr>
      <td>
        Welcome <%= current_user.email %>
      </td>
      <td>
        <form action="<%= logout_url %>" method="post">
          <%= auth_token %>
          <input type="hidden" name="_method" value="DELETE">
          <button>Logout</button>
        </form>
      </td>
    </tr>
  </table>
<% else %>
  <a href="<%= new_session_url %>"><button>Login</button></a>
  <a href="<%= new_user_url %>"><button>Sign Up</button></a>
<% end %>