<% action = (album.persisted? ? album_url(album) : albums_url) %>
<% method = (album.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>

  <label for="name">Album Title:</label>&nbsp;
  <input name="album[name]" id="name" type="text" value="<%= album.name %>"><br>

  <input type="radio" name="album[live_or_studio]" value="live" id="live album" <%=album.live_or_studio == "live" ? "checked" : "" %>>
  <label for="live album">Live Album</label>
  <input type="radio" name="album[live_or_studio]" value="studio" id="studio album" <%=album.live_or_studio == "studio" ? "checked" : "" %>>>
  <label for="studio album">Studio Album</label>
  <br>

  <label for="recording band">Band</label>
  <select name="album[band_id]" id="recording band">
    <option></option>
    <% Band.all.each do |band| %>
      <option <%= album.band_id == band.id ? "selected" : "" %> value="<%= band.id %>"><%= band.name %></option>
    <% end %>
  </select>
  <br>
  
  <input type="submit" value="Submit">
</form>

