<%= render "shared/buttons", name: @band.name %>

<% @band.albums.each do |album| %>
  <a href="<%= album_url(album) %>"><%= album.name %></a><br>
<% end %>

<br><br>
<a href="<%= new_album_url %>">
  <button>Add an album</button>
</a><br><br>
<%= render "shared/band_index_button" %>